<nav data-nav>
    <button
        aria-label="Expand navigation"
        class="lg:hidden text-light dark:text-dark"
        data-nav-open>{{ '/_includes/icons/menu.svg' | svgContents:'w-3 h-3' }}</button>
    <div
        class="hidden fixed bg-dark dark:bg-light text-light
            dark:text-dark inset-0 lg:not-sr-only lg:flex"
        data-nav-links>
        <button
            aria-hidden="true"
            class="container lg:hidden flex items-center h-5"
            data-nav-close>{{ '/_includes/icons/cross.svg' | svgContents:'w-3 h-3' }}</button>
        <ul class="container lg:p-0 lg:flex">
            {% for item in navigation %}
                {% if page.filePathStem == item.key %}
                    {% assign activeClasses = 'underline'%}
                    {% assign currentAttribute = 'aria-current="page"' %}
                {% else %}
                    {% assign activeClasses = null %}
                    {% assign currentAttribute = null %}
                {% endif %}
                <li class="py-2 lg:px-4 lg:first:pl-0 {{activeClasses}}" {{currentAttribute}}>
                    <a href="{{item.key}}">{{item.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
